header.header#header
    .container
        .header-content
            img.logo(src="../src/images/logo.svg" alt="Logo")
            ul.menu
                li
                    a.menu__item.menu__item_active(href="#") О нас
                li
                    a.menu__item(href="#") Услуги
                li
                    a.menu__item(href="#") Вакансии
                li
                    a.menu__item(href="#") Новости
                li
                    a.menu__item(href="#") Соглашения
                li.menu__item.button.button_light Войти
                li.menu__item.button Зарегистрироваться