img.logo-cl(src="../src/images/logo_cl.svg" alt="Logo")
.colors-types
    .colors-grid
        .colors.colors--dark100
        .colors-text
            span.colors-text__name Dark Shade 100% <br>
            span.colors-text__hex #1F2041
        .colors.colors--dark75
        .colors-text
            span.colors-text__name Dark Shade 75% <br>
            span.colors-text__hex #1F2041
        .colors.colors--dark50
        .colors-text
            span.colors-text__name Dark Shade 50% <br>
            span.colors-text__hex #1F2041
        .colors.colors--dark25
        .colors-text
            span.colors-text.colors-text__name Dark Shade 25% <br>
            span.colors-text.colors-text__hex #1F2041
        .colors.colors--dark5
        .colors-text
            span.colors-text__name Dark Shade 5% <br>
            span.colors-text__hex #1F2041
        .colors.colors--primary
        .colors-text
            span.colors-text__name Purple <br>
            span.colors-text__hex #BC9CFF
        .colors.colors--secondary
        .colors-text
            span.colors-text__name Green <br>
            span.colors-text__hex #6FCF97
    .types-grid
        h1.type-h1.types-title H1
        h1.type-h1 This one is the sub-section or <br> widget title
        h2.type-h2.types-title H2
        h2.type-h2 Next one is the item title inside <br> widgets
        h3.type-h3.types-title H3
        h3.type-h3 This is a label or CTA name
        span.type-body.types-title Body
        span.type-body This is the body name which is used for most <br> of the design, like paragraphs, lists, etc.